@media screen and (max-width: 1199px) {
.container{max-width:1000px;}
header .header-left .logo {	width: 54px;}
header .desktop-menu ul li a,header.sticky .desktop-menu ul li a {	font-size: 14px;	}
header .desktop-menu ul li {	padding-bottom: 10px;padding-right: 36px;}
header .desktop-menu {	padding-top: 23px;	}
.home-inner-service ul li {	width: 33%;	padding: 25px;}
.home-contact-inner {	padding: 40px 25px;	}
.home-contact-left {	width: 230px;	margin-right: 20px;}
.home-contact-right {	width: 670px;}
.flied-div {	width: 320px;}
header {	padding: 0 20px;}

/*inner page*/
.page-id-10 .technology-benefits .benefits-text{ width:60%; }
.page-id-10 .technology-benefits figure{ width:36%; }

/*our-team*/
.team-intro { padding: 1.875rem 1.5rem 0rem 4.5rem; }
.page-id-18 .partner .partner-left{ margin-left:98px; }
}
                   
@media screen and (max-width: 1024px) {
.team-link a { font-size: 16px; letter-spacing: 0.05rem; width: 280px; padding: 14px 5px; }
.page-id-18 .partner .partner-left { margin-left: 0px; }
}

@media screen and (max-width: 1023px) {
.container{max-width:750px;}
.mobile-nav {	display: inline-block;	float: left;	width: auto;	position: absolute;	left: 0px;	top: 13px;}
.menu-btn > span { float: left;margin-left: 0px;margin-top: 0px;color: #fff;text-transform: uppercase;}
.mobile-nav .menu-btn {	display: inline-block;	float: none;	text-align: center;	width: 40px;}
.menu-btn  img {	height: 30px;	float: none;	width: 30px;}
.mobile-nav a{color:#000;float:left;font-size:14px;font-weight:600;width:auto;line-height:15px;}
.desktop-menu {		display: none;	}
.home-slider li {	height: 500px;}
.header-left {	float: left;	width: 100%;	padding: 0;	text-align: center;}
header .header-left .logo,header.sticky .sticky-logo {	width: 54px; margin: 0px auto;	float: none;	text-align: center; }

.home-inner-service ul li {	width: 100%;padding: 20px;}
.home-contact-right {	width: 420px;}
.flied-div {	width: 100%;	margin: 0;}
.home-contact-right textarea {		height: 100px;}
.footer-rgt {	float: left;width: 100%;	text-align: center;	}
.footer-lft {	float: left;	width: 100%;	text-align: center; margin-top: 10px;}
.footer-lft p {	float: left;	width: 100%;	text-align: center;	}
.footer-menu {	float: none;	width: auto;	display: inline-block;	vertical-align: top;}
.footer-social-link {	float: none;	width: auto;	display: inline-block;	vertical-align: middle;}
.inner-footer {		padding: 10px 0;	}
.slider-text h1 {	font-size: 39px;margin-bottom: 20px;}
.slider-text p {	font-size: 16px;}
.hservice-head h2 {		margin-bottom: 10px;}
.inner-footer .container{ display: flex; flex-direction: column-reverse;}

/*inner-page*/
.service-sec .service-right h2 {  font-size: 23px; }
h1{font-size:21px;}
.page-id-10 .technology-benefits .benefits-text{ width:100%; margin:0px 0px 30px 0px; }
.page-id-10 .technology-benefits figure{ width:100%; margin:0px; }

/*our-team*/
.team-intro { padding: 1.875rem 1.5rem 0rem 1.8rem; }
.team-link a{  margin: 0 0.5rem 15px; width:auto; }
.partner-logo img{ margin-bottom:15px; margin-right:6px; }
}

@media screen and (max-width: 813px) {
    .team-link a { font-size: 15px; letter-spacing: 0.05rem; width: auto; padding: 14px 5px; line-height: 12px; }
    .team-right-header h2{ font-size:25px; }
    .team-right-content{ padding-left:2.5rem; }
    .team-right-header{ padding:3.75rem 2.5rem 1.8125rem 2.5rem; }   
    .fancybox-close-small { height: 3.375rem !important;  width: 3.375rem !important;   }
    .partner-main img {  max-width: 100%;  }
}

@media screen and (max-width: 768px) {
    .page-id-18 .partner .partner-left,.page-id-18 .partner .partner-right{ width:100%; }
    .page-id-18 .partner{ display:block; }
}
@media screen and (max-width: 767px) {
.container{max-width:620px;}
.home-contact-right {	width: 310px;}
.home-contact-inner h3 {	font-size: 23px;	margin-bottom: 25px;}
.home-contact-inner {	padding: 25px;}
/*inner-page*/
.service-sec,.service-sec .service-right{ margin:35px 0px; }
.service-sec .service-left ul li { float: left;  width: 50%; min-height:30px; }
.service-sec .service-left ul li:nth-child(2) {   padding: 25px 0px; }
.service-sec .service-left,.service-sec .service-right{ width:100%;}
.home-contact-right,.home-contact-left{ width:100%; margin-right:0px; }

.blurb h2, .blurb p{ font-size:1rem !important; }
.team-right-header h2 { font-size: 22px; }
.team-right-header h3 { font-size: 1.4rem;  }
.fancybox-close-small { height: 2.375rem !important; width: 2.375rem !important; transform: translate(0rem,0rem) !important; padding:4px; }

}

@media screen and (max-width: 639px) {
.container{max-width:548px;}
.home-contact-left {	width: 100%;	margin-right: 0px;}
.home-contact-right {	width: 100%;	margin-top: 20px;}
.home-contact-right input[type="submit"] {	margin-top: 5px;}
.slider-text h1 {	font-size: 28px;	margin-bottom: 10px;}
.home-slider li {	height: 350px;}
.inner-page { min-height: 200px; padding: 20px;}


}


@media screen and (max-width: 567px) {
.container{max-width:400px;}
.slider-text h1 {	font-size: 23px;	margin-bottom: 10px;}
.slider-text p {	font-size: 14px;}
header {	padding: 0 10px;}
.mobile-nav{		top: 20px;}
.menu-btn > span {	display: none;}
.inner-banner .slider-text{ padding:0px 15px; }
.footer-rgt ul{ float:left; width:100%; margin-top:10px; }
.page-id-10 .technology .technology-block{ width:100%; margin-right:0px; }
.page-id-10 .technology .block-text {  min-height: auto; }
.page-id-10 .technology-graph figure{ margin-bottom:0px; }
.page-id-10 .technology-graph .block-text{ padding:38px 20px 38px 50px; }

/*team*/
.team-members .team-list li, .team-left, .team-right{ width:100%; }
.team-intro { padding: 1.875rem 1.5rem 0rem 1.8rem; }
.team-popup{ height:450px; overflow-y: scroll !important; overflow-x: hidden !important; }   
.team-left{ height:auto; }
.team-right-header h2 { font-size: 23px; }
.team-right-header { padding: 2rem 2rem 1rem 2rem; }
.team-right-header h2::before{ left:-16px; top:-16px; }

.team-right-content { padding-left: 1.5rem; }
.team-right-content p{ padding-right:14px; }
.team-right{ background:#fff; }
.fancybox-content{ background:transparent !important; }

}




@media screen and (max-width: 413px) {
.container{width:300px;}
.footer-rgt ul li {	margin-right: 16px;}
.footer-lft p {	font-size: 14px;	line-height: 21px;}
.footer-rgt {margin-top: 5px;}
}
@media screen and (max-width: 411px) {
.service-sec .service-left ul li { float: left;  width: 100%; }
}
