@import url(jquery.mmenu.all.css);

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a {background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0;}
input:focus{border:none; outline:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default;font-family: 'Open Sans', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Open Sans', sans-serif;}
textarea:focus{ outline:none;}
/*sitemap*/
li, li a{ text-transform: capitalize; font-size: 15px; color: #383838; line-height: 27px;  font-weight:500; }
.sitemap-sec li{padding-bottom: 15px; }
.sitemap-sec li a:hover{ color: #0070c0; }

h1,h2,h3,h4,h5,h6 {font-weight:400;}
img {max-width: 100%;height: auto;width: auto\9; /* ie8 */border:none;  }
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:15px;  font-weight:400; margin:0px; padding:0px; text-align:center; -webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0px; -moz-osx-font-smoothing: grayscale;
-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;line-height:1;font-family: 'Open Sans', sans-serif;}
#wrapper{ width:100%; float:left; background:#fff; }
#menu .mm-menu{display:none;}
#menu .mm-menu.mm-opened{display:block !important;}
.mm-listview > li > a,
 .mm-listview > li > span{font-family: 'Open Sans', sans-serif;font-weight:400; color: #000;}
.mobile-nav{display:none;}
.mobile-nav .mm-panels{background-color:#fff !important;}
.mobile-nav .mm-navbar .mm-title { padding-left:0px;  padding-right: 20px; }
.tab-call{display:none;}
.container{max-width: 1230px;margin: 0px auto;width: 100%; padding:0px 15px; }
p {line-height:24px; }
h1 { font-size: 28px; font-weight: 400; line-height: 30px; margin: 0 0 15px; }
h2 { font-size: 24px; font-weight: 400; line-height: 26px; margin: 0 0 15px; }
h3 { font-size: 19px; font-weight: 400; line-height: 21px; margin: 0 0 15px; }
h4 { font-size: 17px; font-weight: 400; line-height: 19px; margin: 0 0 15px; }
h5 { font-size: 16px; font-weight: 400; line-height: 18px; margin: 0 0 15px; }
h6 { font-size: 15px; font-weight: 400; line-height: 17px; margin: 0 0 15px; }
header.sticky{position: fixed;width: 100%;z-index:9999;top:0;margin:0;-webkit-animation: fadeInDown 1s both;animation: fadeInDown 1s both;box-shadow:2px 2px 7px rgba(0,0,0,0.3);background:#fff;}
header.sticky .desktop-menu ul li a {	font-size: 15px; color:#000;	}
header.sticky .desktop-menu ul > li > a::after{ background:#000; }
header.sticky .desktop-menu ul li {	padding-bottom: 10px;}
header.sticky .desktop-menu {	padding-top: 23px;	}
header.sticky .header_top,.sticky-logo,header.sticky .logo,header.sticky .menu-icon,.sticky-menu-icon {display:none}
header.sticky .sticky-logo{ display:block; width: 56px;}
header.sticky .sticky-menu-icon{ display:block; }
.header-left a{ display:block;}
@-webkit-keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
-ms-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0);
}
}
header {	width: 100%;	position: fixed;	top: 0;	left: 0;	padding: 0 40px;	z-index: 9;	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box; border-bottom:1px solid #6b6a54; }
.header_sec{float:left;width:100%;box-sizing: border-box;padding: 5px 0;position: relative; margin-bottom: 12px;}
.header.sticky .header_sec{ margin-bottom: 0px;}
.header-left {	float: left;	width: auto;	padding: 10px 0 5px;}
.header-right{float:right;width:auto;box-sizing: border-box;}
.desktop-menu{float:left;width:100%;padding-top:40px ;box-sizing: border-box;}
.desktop-menu ul{float:left;width:100%;text-align:center}
.desktop-menu ul li{float:none;width:auto;text-align:center;display:inline-block;padding-right:56px;box-sizing:border-box;position:relative;padding-bottom:20px;}

.desktop-menu ul li ul{display:none}
.desktop-menu ul li:hover ul{display:inline-block;position:absolute;top:100%;left:-40%;z-index:99;width:240px;background:rgba(255,255,255,1);float:left;padding:15px 20px 10px 20px;box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
.desktop-menu ul li ul li{padding:0}
.desktop-menu ul li ul li a{float:left;width:100%;text-align:left;font-size:14px}
.mm-listview > li > a, .mm-listview > li > span{ text-transform: uppercase !important;}
.desktop-menu ul li ul li a:hover{color:#0070c0}
.desktop-menu ul > li >  ul > li > a::after {		height: 0px;float:left;width:100%	}
.desktop-menu ul > li >  ul > li > a::before {content: "";}
.desktop-menu ul li ul li{width:100%;float:left;margin-bottom:5px}
.desktop-menu ul li:last-child{padding-right:0px;}
.desktop-menu ul li a{font-size:15px;width:auto;color:#fff;font-weight:600;float:left;position:relative;text-transform:uppercase;line-height: 27px;}
.desktop-menu  ul > li > a::after {	content: "";	transition: 0.5s all ease;	position: absolute;	bottom: 0px;	height: 2px;	width: 0;	background: #fff;	left: 50%;	z-index: 9999;	-webkit-transform: translateX(-50%);	transform: translateX(-50%);}
.desktop-menu  ul > li > a:hover::after, .desktop-menu  ul > li.current_page_item > a::after, .desktop-menu  ul > li.current-menu-ancestor > a::after {	width: 100%;}
.desktop-menu ul li.current-menu-item a{position:relative}
.desktop-menu  ul > li > a:hover::before, .desktop-menu  ul > li.current_page_item > a::before, .desktop-menu  ul > li.current-menu-ancestor > a::before{opacity: 1;visibility: visible;top: -5px;left: -10px;}
a.effect-underline:after {content: '';  position: absolute;  left: 0;  display: inline-block;  height: 2em;  width: 100%;  border-bottom: 2px solid;  margin-top: 10px;  opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s;    -webkit-transform: scale(0,1);    transform: scale(0,1);    display: inline-block;}
a.effect-underline:hover:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
section{float:left;width:100%}


.home-slider li {	float: left;	width: 100%;	height: 730px;position:relative}
.slider-text {	position: absolute;	top: 50%;	float: left;	width: 100%;margin-top: -20px;}
.slider-text h1{font-size:59px;color:#fff;float:left;width:100%;text-align:center;text-transform:uppercase;font-family: 'Raleway', sans-serif;letter-spacing:0.250em;font-weight:700;margin-bottom:30px;}
.slider-text p{font-size:23px;color:#fff;float:left;width:100%;text-align:center;font-family: 'Raleway', sans-serif;font-weight:400;}

.home-service {	background: #0070c0;}
.home-inner-service {	float: left;	width: 100%;	text-align: center;}
.home-inner-service ul{	float: left;	width: 100%;	text-align: center;}
.home-inner-service ul li{	float: none;	width: 33.10%;	text-align: center;display:inline-block;padding:45px;box-sizing:border-box;}
.hservice-img {	float: left;	width: 100%;margin-bottom: 15px;}
.hservice-head {	float: left;	width: 100%;	text-align: center;	}
.hservice-head h2 {	float: left;	width: 100%;	text-align: center;	font-size: 20px;	color: #fff;	font-weight: 600;}
.hservice-con{float:left;width:100%;text-align:center}
.hservice-con p {	float: left;	width: 100%;	text-align: center;	font-size: 15px;	color: #fff;	font-weight: 400;line-height:24px;}
.home-contact-inner {	float: left;	width: 100%;	padding: 60px 45px;	box-sizing: border-box;}
.home-contact-inner h3 {	float: left;	width: 100%;	font-size: 27px;	font-weight: 600;	letter-spacing: 0.030em;	margin-bottom: 45px;}
.home-contact-left {	float: left;	width: 350px;	margin-right: 30px;}
.home-contact-right {	float: left;	width: 730px;}
.home-contact-call {	float: left;	width: 100%;padding-bottom: 15px;border-bottom: 1px solid #f5f5f5;	}
.home-contact-email {	float: left;	width: 100%;padding-bottom: 15px;border-bottom: 1px solid #f5f5f5;padding-top: 15px;	}
.home-contact-address {	float: left;	width: 100%;padding-bottom: 15px;border-bottom: 1px solid #f5f5f5;padding-top: 15px;	}
.home-contact-call a{	float: left;	width: 100%;	background: url("../images/call-icon.png")no-repeat left center;	padding-left: 38px;box-sizing:border-box;font-size:14px;font-weight:400;color:#4c4c4c;line-height:22px;text-align:left}
.home-contact-email a{	float: left;	width: 100%;	background: url("../images/email-icon.png")no-repeat left center;	padding-left: 38px;box-sizing:border-box;font-size:14px;font-weight:400;color:#4c4c4c;line-height:22px;text-align:left}
.home-contact-call a:hover,.home-contact-email a:hover{color:#0070c0}
.home-contact-address span{	float: left;	width: 100%;	background: url("../images/add-icon.png")no-repeat left top;	padding-left: 38px;box-sizing:border-box;font-size:14px;font-weight:400;color:#4c4c4c;line-height:22px;text-align:left}
.flied-div{float:left;width:350px;margin-right:30px;}
.flied-div:nth-child(2n+1){margin-right:0px;}
.home-contact-right input[type="text"]{float: left;width:100%;height: 43px;margin-bottom: 14px;background: #fbfbfb;padding: 0 17px;box-sizing: border-box;color: #8C8C8C;font-weight: 400;font-family: 'Open Sans', sans-serif;font-size:14px;}
.home-contact-right input[type="email"]{float: left;width: 100%;height: 43px;margin-bottom: 14px;background: #fbfbfb;padding: 0 17px;box-sizing: border-box;color: #8C8C8C;font-weight: 400;font-family: 'Open Sans', sans-serif;font-size:14px;}
.home-contact-right textarea{float: left;width: 100%;height: 200px;margin-bottom: 14px;background: #fbfbfb;padding:15px 17px;box-sizing: border-box;color: #8C8C8C;font-weight: 400;resize: vertical;font-family: 'Open Sans', sans-serif;font-size:14px;}
.home-contact-right input[type="submit"]{color:#fff;margin-top:5px;float:left;width:118px;height:42px;background:#ff0000;text-transform:uppercase;font-weight:700;font-size:17px;padding:10px 20px;box-sizing:border-box;letter-spacing:0.030em;font-family: 'Open Sans', sans-serif;line-height: 22px;}
.home-contact-right input[type="submit"]:hover{background:#0070c0}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {	display: none !important;}
span.wpcf7-not-valid-tip {	float: left;	width: 100%;	text-align: left;	margin-bottom: 15px;}
.inner-footer {	float: left;	width: 100%;	border-top: 1px solid #b2b2b2;padding: 30px 0;	box-sizing: border-box;}
.footer-lft {	float: left;	width: auto;	}
.footer-lft p{	float: left;	width: auto;	text-align: left;	font-size: 15px;	 color: #4c4c4c; 	line-height: 22px;}
.footer-rgt ul li {	float: left;	width: auto;	text-align: left;	margin-right:36px;    list-style: none;}
.footer-rgt ul li a{	float: left;	width: auto;	text-align: left;	font-size: 15px;	 color: #4c4c4c; 	line-height: 22px;}
.footer-rgt ul li a:hover{color:#0070c0}
.footer-rgt {
	float: right;
	width: auto;
}
.footer-menu {
	float: left;
	width: auto;
}
.footer-social-link {
	float: left;
	width: auto;
}
.footer-social-link a:hover{opacity:0.6}
.twitter {
	margin-top: 3px;
}
.inner-page {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: 40px;
}
.digital{ margin-top:1px; }
.digital a{  max-width:39px }
div.wpcf7 .ajax-loader{display:none !important}

.home-contact {
	border-top: 5px solid #0070c0;
}
.home .menu-item-home,.service-sec .service-left .menu-item-107{ display:none; }
/*inner-page*/
.inner-banner{ position:relative; height:430px; }
.inner-banner .slider-text { top: inherit; bottom: 90px; margin-top: 0px;}
.service-sec{ text-align:left; margin:55px 0px;}
.service-sec .service-left{ float:left; width:21%; margin-right:4%; }
.service-sec .service-right{float:left; width:75%;}
.service-sec .service-left ul li{ padding:25px 0px; border: none; border-bottom:1px solid #e5e5e5; list-style-type: none;}
.service-sec .service-left ul li:nth-child(2){ padding:0px 0px 25px; }
.service-sec .service-left ul li a{ font-size:16px; font-weight:600; color:#0070c0; display:block; text-transform: capitalize;  }
.service-sec .service-right h2{ font-size:27px; font-weight:600; margin-bottom:20px; }
h1{ font-size:27px; font-weight:600; margin-bottom:20px; }
.service-sec .service-right h3 {font-size: 19px;color: #383838;font-weight: 600;line-height: 25px;margin-bottom: 14px;margin-top: 4px;}
.service-sec .service-right p{ font-size:15px; color:#383838; font-weight:400; line-height: 25px; margin-bottom: 24px;}
.service-sec .service-left li a:before{ content:''; display:inline-block; vertical-align:middle; margin-right:10px; width:33px; 
	background:url('../images/list-icon.png') no-repeat; height:30px;  background-size:cover; background-position: top center; transition:.5s all ease; }
.service-sec .service-left .menu-item-22 a:before{ background:url('../images/technology.png') no-repeat; height:30px; }
.service-sec .service-left .menu-item-23 a:before{ background:url('../images/research.png') no-repeat; }
.service-sec .service-left .menu-item-24 a:before{ background:url('../images/market.png') no-repeat; }
.service-sec .service-left .menu-item-25 a:before{ background:url('../images/partner.png') no-repeat;}
.service-sec .service-left .menu-item-26 a:before{ background:url('../images/team.png') no-repeat; height:22px;}
.service-sec .service-left .menu-item-27 a:before{ background:url('../images/contact.png') no-repeat; height:20px; width: 26px; margin-right: 14px;}
.service-sec .service-left li a:hover:before{ background-position: bottom center; }

.wpcf7-form-control-wrap {    position: relative;width: 100% !important;float: left;}
.div.wpcf7-mail-sent-ng{border:none !important}
div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors,div.wpcf7-mail-sent-ng{border:none !important;display:none !important;}	

.error-404{float:left;width:100%;margin:30px 0}
.mobile-nav ul {  display: none; }

/*changes*/
.service-sec .service-left ul li a{ transition:.7s all ease; }
.service-sec .service-left ul li a:hover{ color:#000; }
.page-id-10 .technology, .page-id-10 .technology-graph, .page-id-10 .technology-benefits{ float:left; width:100%; }
.page-id-10 .technology .technology-block{ float:left; width:46%; margin-bottom:40px; }
.page-id-10 .technology .technology-block:nth-child(odd){ margin-right:8%; }
.page-id-10  figure{ margin-bottom:35px; text-align:center; }
.page-id-10  figcaption{ color:#0070c0; margin:15px 0px; }
.page-id-10 .service-sec h1{ margin-bottom:60px; }
.page-id-10 .technology .block-text{ min-height:200px; }
.page-id-10 .technology-graph{ margin-bottom:45px; }
.page-id-10 .technology-graph .block-text{ background: #ededee; padding:38px 50px; position:relative; margin-bottom:45px; }
.page-id-10 .technology-graph .block-text::before{ position: absolute; content: ''; width: 9px; height: 76%;
    background: #ee2323; left: 20px; top: 50%; transform: translate(0%,-50%) }
.page-id-10 .technology-graph .block-text p{ margin-bottom:0px; font-weight:600; }
.page-id-10 .technology-benefits .benefits-text{ float:left; width: 62%; margin-right: 4%;}
.page-id-10 .technology-benefits figure{ float:right; width:34%; }
.page-id-10 .technology-benefits .benefits-text li{ line-height:25px; }
.page-id-10 .technology-benefits .benefits-text h2{ font-size:21px; }
.page-id-10 .technology-benefits .benefits-text ul{ padding-left:15px; }

/*contact*/
.page-id-20{ float:left; width:100%; }

/*sitemap*/
.sitemap-sec li { line-height: 27px; font-size: 14px; color: #000; background: url(../images/arrow.png) no-repeat left 11px;
    padding: 0 0 0 10px;  margin-bottom: 10px; list-style:none; }

/*privacy polivcy*/
ol > li{ list-style-type: lower-alpha; }
.page-id-37 h4{ font-weight:700; }
.page-id-37 h5{ font-weight:600; margin:18px 0px; }
.page-id-37 ol{ padding-left:15px; }
.page-id-37 ol li{ margin-bottom:4px; }
.service-right ul > li{background: url(../images/arrow.png) no-repeat left 11px; padding: 0 0 0 10px;}
.mainlist > li{ list-style-type: inherit; font-weight:600; margin-bottom:20px !important; }

/*team*/

     .partner-logo img{ vertical-align: middle; }
.page-id-18 .partner{ float:left; width:100%; display:flex; align-items:center;  background: #ededee; margin-bottom: 30px; }
.page-id-18 .partner .partner-left{ float:left; width:50%; margin-right:0%; text-align:left; }
.page-id-18 .partner .partner-right{ float:right; width:50%; }
.page-id-18 .partner .partner-left{ padding:38px 36px 38px 50px; position:relative; margin-left: 180px; }
.page-id-18 .partner .partner-left::before{ position: absolute; content: ''; width: 9px; height: 85%; background: #ee2323; left: 20px; top: 50%; 
    transform: translate(0%,-50%) }
.page-id-18 .partner .partner-left p{ margin-bottom:0px; }
.partner-logo {margin:30px 0px 18px; text-align: center; }
.partner-logo img{ margin-right:30px;}
.partner-main{ margin-bottom:30px; }
.team-popup{ display:none; }
.team-members .team-list{ float:left; width:100%; box-shadow:0 0.9375rem 3.75rem rgba(2,2,22,0.1); background:#fff; 
    display: flex; box-lines: multiple; flex-wrap: wrap; flex-direction: row; flex-flow: row wrap; flex-shrink: 1; flex-grow: 1; }
.team-members .team-list li{ overflow:hidden; float:left; width:50%; background: #fff; padding:35px 0px 0px; border-top: 0px solid transparent; border-bottom: 1px solid #edf0f2;
     border-right: 1px solid #edf0f2; border-left: 1px solid transparent; box-sizing:border-box; position:relative; min-height:355px; }
.team-members .team-list .team-image{ text-align: center; position:relative; display:inline-block; }
.team-members .team-list .team-image img{ border-radius:50%; display:inline-block; }
.team-members a.fancybox{ display:block; position:relative; text-align: center; }
.team-members .team-list p{ margin-bottom: 0px; }
.team-members .symbol { background-color: #fff; border-radius: 50%; bottom: 0%; box-shadow: rgba(35,35,35,0.15) 2px 2px 8px; display: inline-block; height: 3.5rem;
    line-height: 1; padding: 19px;  position: absolute;  right: 13%;  text-decoration: none;  width: 3.5rem; }
.team-members h2{ font-weight: 700 !important; font-size: 1.025rem !important; line-height: 1; margin-bottom: 3px !important; position:relative; color:#000; }
.team-members .team-intro h2::before{border: 1px solid #232323; border-radius: 50%; content: ''; display: block; height: .5em; left: -15px; position: absolute;  top: -5px; width: .5em;}
.team-members p{ font-weight: 500 !important; font-size: 1.025rem !important; }    
.team-intro{ padding:1.875rem 2.5rem 0rem 7.5rem; text-align: left; }
.blurb { font-size: 1em; transform: translateY(50%); line-height: 1.1;  color: #fff; opacity: 0; position: absolute;
    padding: 1.875rem 2.5rem; text-align: left; }
.blurb h2, .blurb p{ color:#fff !important; }    
    
.team:hover .blurb {  transform: translateY(0%);  opacity: 1; 
    transition: opacity 0.4s ease-out,transform 0.6s ease-in-out;}
.team:hover .team-intro{ display:none; }  
.team-members .team-list li:before { /*background-color: #2b9bdf; background-image: linear-gradient(to bottom,#2b9bdf,#0bbdd7,#a8dbe9);*/ background:#0b3047;
    content: '';  display: block; height: 100%; left: 0%; opacity: 0; position: absolute; top: 0%; width: 100%; }  
.team-members .team-list li:hover:before { opacity: 1;  }
.team-members .team-list li:hover svg {  animation: slideAround 0.4s ease-in-out 0.2s;  }
.team-members .team-list li:hover .team-image img { transition: opacity 0.4s cubic-bezier(0.175,0.885,0.32,1.275); opacity: .7;  }
.team .team-image:after { -ms-transform: scale(2); transform: scale(2); border: 1px solid; border-color: rgba(255,255,255,0);  
    border-radius: 50%; content: ''; display: block; height: 96%; position: absolute;  width: 99%;  z-index: 20;  top:0;  }
body{ overflow-x:hidden; }
.team-members .team-list li:hover .team-image:after { transition: transform 0.2s ease-out; transform: scale(1); border-color: white;  }
.team-members .team-list li:hover img{ border-radius:100% !important; }

.team-left, .team-right { height: 100%; display: flex; flex-direction: column; }
.team-left { float: left;  display: block;  width: 41.1370344343%; background: #020216; text-align: center; padding-top:50px; }
.team-right { width: 58.8629655657%; float: left; position: relative;  overflow: visible; }
.team-popup{ width: 82.9403913294%; height: 30rem; position: relative; }
.team-right-header{  border-bottom: 0.125rem solid #edf0f2; padding:3.75rem 4.5rem 2.8125rem 4.5rem; }
.team-right-content {  margin-right: 2rem; margin-top: 2.8125rem; padding-left: 4.5rem; }
.team-right-header h2{ position:relative; font-weight:900; font-size:28px; }
.team-right-header h2::before{border: 3px solid #0070c0; border-radius: 50%; content: ''; display: block; height: .5em; left: -24px; position: absolute;  
    top: -36px; width: .5em;}
.team-right-header h3 { font-size: 1.5rem; line-height: 1.75rem; }
.team-right-content{ height:200px; overflow-y:auto; }
.fancybox-close-small { height: 4.375rem !important; width: 4.375rem !important; transform: translate(1.375rem,-1.375rem) !important;  
   background-color: #0070c0 !important; border-radius: 50% !important; box-shadow: rgba(35,35,35,0.2) 2px 2px 8px !important; 
   display: inline-block !important; line-height: 0 !important; text-decoration: none !important; opacity:1 !important;  }
.fancybox-close-small svg{ transform:  rotate(0deg); color:#fff !important; transition:transform 0.5s cubic-bezier(0.25,0.46,0.45,0.94); }
.fancybox-close-small:hover svg{ transform: rotate(180deg); }
.fancybox-content{ overflow:visible !important; padding:0px !important;  }
.team-shown { display: block; height:100%; }
.team-link a { display: block; position: relative; border-radius: 4.375rem; color: #fff; margin: 0 2.5rem; margin-bottom: 1.5625rem;
    font-size:17px; letter-spacing: 0.14rem; width: 330px; padding: 14px 10px; background-color: #4a4a4a;  cursor:pointer;
    transition: background-color 0.5s cubic-bezier(0.25,0.46,0.45,0.94); font-weight:900; }
.team-link a::before{ content:''; display:inline-block; margin-right:6px; background:url('../images/in-icon.png'); background-size:cover; height:22px; width:24px; 
    background-position:top center; vertical-align: sub;}
.team-link a:hover::before{ background-position:bottom center; }
.team-link a:hover{ background:#fff; color:#232323; }    
 .team-link{ margin-top: 2.75rem; float: left; width: 100%;}
